<template>
  <div class="container is-widescreen full-page">
    This page left intentionally blank. :)
    <div v-for="element in items" :key="element.name">
      {{ element.name }}
    </div>
    <slot />
  </div>
</template>

<script>
export default {
  layout: 'minimal',
  data() {
    return {
      items: [{ name: 'One' }, { name: 'Two' }, { name: 'Three' }],
    }
  },

  computed: {},

  methods: {},

  head() {
    return {
      title: this.$route.name,
    }
  },
}
</script>

<style></style>
