<template>
  <div class="section full-page">
    <div class="container is-widescreen content">
      <input v-model="nameInput" type="text" placeholder="First Last" />
      <button class="button" @click="addNew">Add person</button>
      <draggable :list="list">
        <div v-for="element in list" :key="element._id" class="dragArea">
          {{ element.name }}
        </div>
      </draggable>
      <slot />
    </div>
  </div>
</template>

<script>
import https from 'https'
import draggable from 'vuedraggable'
// import axios from 'axios'

export default {
  components: {
    draggable,
  },
  // https://vuejs.org/v2/guide/components-props.html#Type-Checks
  // String, Number, Boolean, Array, Object, Date, Function, Symbol
  props: {
    parameter: {
      default: 'Greetings',
      type: String,
    },
  },

  // https://nuxtjs.org/docs/2.x/components-glossary/pages-fetch
  async fetch() {
    // console.log('people->fetch call')
    const agent = new https.Agent({
      rejectUnauthorized: false,
    })

    let urlPrefix
    if (process.server) {
      urlPrefix = this.$config.apiUrlSSR
    } else {
      urlPrefix = this.$config.apiUrl
    }

    await this.$axios
      .get(
        urlPrefix + '/people/',
        // urlPrefix + '/people/' + this.params.id,
        {
          httpsAgent: agent,
        }
      )
      .then((res) => {
        // console.log('Result from fetch:', res.data)
        this.list = res.data.data
      })
  },

  // This should do the same thing as the above fetch() call
  // Keeping as an example / comparison of the two
  // https://nuxtjs.org/guide/async-data/
  /*
  async asyncData(context) {
    // console.log('people->asyncData call')
    const agent = new https.Agent({
      rejectUnauthorized: false,
    })

    let urlPrefix
    if (process.server) {
      urlPrefix = context.$config.apiUrlSSR
    } else {
      urlPrefix = context.$config.apiUrl
    }

    const { data } = await context.$axios.$get(urlPrefix + '/people/', {
      httpsAgent: agent,
    })
    return { list: data }
  },
  */

  data() {
    return {
      nameInput: '',
      list: [{ name: 'One' }, { name: 'Two' }, { name: 'Three' }],
    }
  },
  computed: {},
  mounted() {
    // this.fetchSomething()
  },
  methods: {
    // This approach will only fetch on the client side
    // pre-rendering will not happen on the server.
    // async fetchSomething() {
    //   const data = await this.$axios.$get(`${this.$config.apiUrl}/people/`)
    //   // console.log(data)
    //   this.list = data.data
    // },
    async addNew() {
      // console.log(`${this.$config.apiUrl}/people/`)
      const result = await this.$axios.$post(`${this.$config.apiUrl}/people/`, {
        name: this.nameInput,
      })
      // .catch((e) => console.log('Error: ', e.message))
      if (result) {
        // console.log(result)
        this.list.push(result)
      }
    },
  },
  head() {
    return {
      title: this.$route.name,
    }
  },
}
</script>

<style>
.dragArea {
  position: relative;
  text-align: left;
  display: inline-block;
  margin: 0;
  width: 150px;
  height: 150px;
  vertical-align: top;
}
</style>
