<template>
  <article class="content">
    <nuxt-content :document="article" />
    <!-- <pre> {{ article }} </pre> -->
  </article>
</template>

<script>
export default {
  async fetch() {
    // console.log('Slug parameter?', this.$route.params.slug)
    this.article = await this.$content(this.$route.params.slug).fetch()
  },
  data() {
    return {
      article: '',
    }
  },
  head() {
    return {
      title: this.$route.params.slug + ' : docs : web-ui-api-db',
    }
  },
}
</script>
