<template>
  <div class="section full-page">
    <div v-for="content in everything" :key="content.slug">
      <NuxtLink :to="{ name: 'docs-slug', params: { slug: content.slug } }">
        <h3 v-if="content.title">
          {{ content.title }}
        </h3>
        <h3 v-else>
          {{ content.slug }}
        </h3>
      </NuxtLink>
    </div>
    <slot />
  </div>
</template>

<script>
export default {
  async fetch() {
    this.everything = await this.$content('/')
      .fetch()
      .catch((err) => {
        console.log(err)
        this.error({ statusCode: 404, message: 'Page not found' })
      })

    console.log(this.everything)
  },
  layout: 'default',
  data() {
    return {
      everything: [],
      items: [{ name: 'One' }, { name: 'Two' }, { name: 'Three' }],
    }
  },
  computed: {},
  methods: {},
  head() {
    return {
      title: this.$route.name,
    }
  },
}
</script>

<style></style>
