<template>
  <div class="navbar-start">
    <nuxt-link to="/docs" class="navbar-item">Documentation</nuxt-link>
    <nuxt-link to="/people" class="navbar-item">People</nuxt-link>
    <nuxt-link to="/blank" class="navbar-item">Blank</nuxt-link>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link"> More </a>

      <div class="navbar-dropdown">
        <a class="navbar-item"> About </a>
        <a class="navbar-item"> Jobs </a>
        <a class="navbar-item"> Contact </a>
        <hr class="navbar-divider" />
        <a class="navbar-item"> Report an issue </a>
      </div>
    </div>
  </div>
</template>
