<template>
  <footer class="footer">
    <div class="container is-widescreen">
      <div class="columns is-vcentered">
        <div
          class="column mt-2 is-one-fourth-tablet has-text-centered has-text-left-tablet ml-2"
        >
          <strong>
            <a href="/"> Web-UI-API-DB </a>
          </strong>
        </div>
        <div
          class="column mr-2 has-text-centered has-text-right-tablet is-three-quarters-tablet"
        >
          <a href="https://gitlab.com/charlesbrandt/web-ui-api-db">[Source]</a>
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date"
          >
            {{ now }}
          </a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  computed: {
    now() {
      const n = new Date()
      const month = n.getMonth() + 1
      const monthPad = String(month)
      monthPad.padStart(2, '0')
      const day = n.getDate()
      const dayPad = String(day)

      // TODO: why no 0 pad?
      return n.getFullYear() + '.' + monthPad + '.' + dayPad.padStart(2, '0')
    },
  },
}
</script>

<style scoped>
.footer {
  padding: 0.5rem 1.5rem 6rem;
}
</style>
