<template>
  <div class="container is-widescreen">
    <div v-if="isOpen" class="navbar-backdrop" @click="isOpen = false"></div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item responsive-logo" href="/">
          <Logo width="60" height="40"></Logo>
          WEB-UI-API-DB
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          :class="{ 'is-active': isOpen }"
          aria-label="menu"
          aria-expanded="false"
          @click="isOpen = !isOpen"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div
        class="navbar-menu"
        :class="{ 'is-active': isOpen }"
        @click="isOpen = false"
      >
        <Navigation></Navigation>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light"> Log in </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
// https://bulma.io/documentation/components/navbar/

export default {
  components: {},
  data() {
    return {
      isOpen: false,
    }
  },
}
</script>

<style>
.responsive-logo {
  border: 1px dashed #990000;
  @include until($desktop) {
    border-bottom: 1px solid green;
    width: '65px';
    height: '76px';
    max-height: '76px' !important;
  }

  @include from($tablet) {
    border-left: 2px solid yellow;
  }

  @include tablet {
    border-top: 2px solid orange;
  }
  @include widescreen-only {
    border-right: 2px solid blue;
  }
}
.navbar-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transition: opacity 0.2s ease;
  height: 100vh;
}
</style>
